<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.pay.dao.OrderInfoDOMapper" >
  <resultMap id="BaseResultMap" type="com.zty.pay.DO.OrderInfoDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="third_order_no" property="thirdOrderNo" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="order_method" property="orderMethod" jdbcType="TINYINT" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
    <result column="order_amount" property="orderAmount" jdbcType="BIGINT" />
    <result column="discount_type" property="discountType" jdbcType="TINYINT" />
    <result column="discount_amount" property="discountAmount" jdbcType="BIGINT" />
    <result column="actual_amount" property="actualAmount" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="balance_change" property="balanceChange" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="fld_s1" property="fldS1" jdbcType="VARCHAR" />
    <result column="fld_n1" property="fldN1" jdbcType="BIGINT" />
    <result column="fld_n2" property="fldN2" jdbcType="INTEGER" />
    <result column="fld_n3" property="fldN3" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, third_order_no, account_id, order_method, order_type, order_amount, discount_type, 
    discount_amount, actual_amount, status, balance_change, create_by, create_time, update_time, 
    remarks, fld_s1, fld_n1, fld_n2, fld_n3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zty.pay.DO.example.OrderInfoDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zty.pay.DO.example.OrderInfoDOExample" >
    delete from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zty.pay.DO.OrderInfoDO" >
    insert into order_info (id, third_order_no, account_id,
                            order_method, order_type, order_amount,
                            discount_type, discount_amount, actual_amount,
                            status, balance_change, create_by,
                            create_time, update_time, remarks,
                            fld_s1, fld_n1, fld_n2,
                            fld_n3)
    values (#{id,jdbcType=BIGINT}, #{thirdOrderNo,jdbcType=VARCHAR}, #{accountId,jdbcType=INTEGER},
            #{orderMethod,jdbcType=TINYINT}, #{orderType,jdbcType=TINYINT}, #{orderAmount,jdbcType=BIGINT},
            #{discountType,jdbcType=TINYINT}, #{discountAmount,jdbcType=BIGINT}, #{actualAmount,jdbcType=BIGINT},
            #{status,jdbcType=TINYINT}, #{balanceChange,jdbcType=BIGINT}, #{createBy,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
            #{fldS1,jdbcType=VARCHAR}, #{fldN1,jdbcType=BIGINT}, #{fldN2,jdbcType=INTEGER},
            #{fldN3,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zty.pay.DO.OrderInfoDO" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="thirdOrderNo != null" >
        third_order_no,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="orderMethod != null" >
        order_method,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="discountType != null" >
        discount_type,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="actualAmount != null" >
        actual_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="balanceChange != null" >
        balance_change,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="fldS1 != null" >
        fld_s1,
      </if>
      <if test="fldN1 != null" >
        fld_n1,
      </if>
      <if test="fldN2 != null" >
        fld_n2,
      </if>
      <if test="fldN3 != null" >
        fld_n3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="thirdOrderNo != null" >
        #{thirdOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="orderMethod != null" >
        #{orderMethod,jdbcType=TINYINT},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=BIGINT},
      </if>
      <if test="discountType != null" >
        #{discountType,jdbcType=TINYINT},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=BIGINT},
      </if>
      <if test="actualAmount != null" >
        #{actualAmount,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="balanceChange != null" >
        #{balanceChange,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="fldS1 != null" >
        #{fldS1,jdbcType=VARCHAR},
      </if>
      <if test="fldN1 != null" >
        #{fldN1,jdbcType=BIGINT},
      </if>
      <if test="fldN2 != null" >
        #{fldN2,jdbcType=INTEGER},
      </if>
      <if test="fldN3 != null" >
        #{fldN3,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zty.pay.DO.example.OrderInfoDOExample" resultType="java.lang.Integer" >
    select count(*) from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.thirdOrderNo != null" >
        third_order_no = #{record.thirdOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.orderMethod != null" >
        order_method = #{record.orderMethod,jdbcType=TINYINT},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=TINYINT},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=BIGINT},
      </if>
      <if test="record.discountType != null" >
        discount_type = #{record.discountType,jdbcType=TINYINT},
      </if>
      <if test="record.discountAmount != null" >
        discount_amount = #{record.discountAmount,jdbcType=BIGINT},
      </if>
      <if test="record.actualAmount != null" >
        actual_amount = #{record.actualAmount,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.balanceChange != null" >
        balance_change = #{record.balanceChange,jdbcType=BIGINT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.fldS1 != null" >
        fld_s1 = #{record.fldS1,jdbcType=VARCHAR},
      </if>
      <if test="record.fldN1 != null" >
        fld_n1 = #{record.fldN1,jdbcType=BIGINT},
      </if>
      <if test="record.fldN2 != null" >
        fld_n2 = #{record.fldN2,jdbcType=INTEGER},
      </if>
      <if test="record.fldN3 != null" >
        fld_n3 = #{record.fldN3,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_info
    set id = #{record.id,jdbcType=BIGINT},
    third_order_no = #{record.thirdOrderNo,jdbcType=VARCHAR},
    account_id = #{record.accountId,jdbcType=INTEGER},
    order_method = #{record.orderMethod,jdbcType=TINYINT},
    order_type = #{record.orderType,jdbcType=TINYINT},
    order_amount = #{record.orderAmount,jdbcType=BIGINT},
    discount_type = #{record.discountType,jdbcType=TINYINT},
    discount_amount = #{record.discountAmount,jdbcType=BIGINT},
    actual_amount = #{record.actualAmount,jdbcType=BIGINT},
    status = #{record.status,jdbcType=TINYINT},
    balance_change = #{record.balanceChange,jdbcType=BIGINT},
    create_by = #{record.createBy,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    remarks = #{record.remarks,jdbcType=VARCHAR},
    fld_s1 = #{record.fldS1,jdbcType=VARCHAR},
    fld_n1 = #{record.fldN1,jdbcType=BIGINT},
    fld_n2 = #{record.fldN2,jdbcType=INTEGER},
    fld_n3 = #{record.fldN3,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zty.pay.DO.OrderInfoDO" >
    update order_info
    <set >
      <if test="thirdOrderNo != null" >
        third_order_no = #{thirdOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="orderMethod != null" >
        order_method = #{orderMethod,jdbcType=TINYINT},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=BIGINT},
      </if>
      <if test="discountType != null" >
        discount_type = #{discountType,jdbcType=TINYINT},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=BIGINT},
      </if>
      <if test="actualAmount != null" >
        actual_amount = #{actualAmount,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="balanceChange != null" >
        balance_change = #{balanceChange,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="fldS1 != null" >
        fld_s1 = #{fldS1,jdbcType=VARCHAR},
      </if>
      <if test="fldN1 != null" >
        fld_n1 = #{fldN1,jdbcType=BIGINT},
      </if>
      <if test="fldN2 != null" >
        fld_n2 = #{fldN2,jdbcType=INTEGER},
      </if>
      <if test="fldN3 != null" >
        fld_n3 = #{fldN3,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
    <if test="beforeStatus != null" >
      AND status = #{beforeStatus,jdbcType=TINYINT},
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zty.pay.DO.OrderInfoDO" >
    update order_info
    set third_order_no = #{thirdOrderNo,jdbcType=VARCHAR},
        account_id = #{accountId,jdbcType=INTEGER},
        order_method = #{orderMethod,jdbcType=TINYINT},
        order_type = #{orderType,jdbcType=TINYINT},
        order_amount = #{orderAmount,jdbcType=BIGINT},
        discount_type = #{discountType,jdbcType=TINYINT},
        discount_amount = #{discountAmount,jdbcType=BIGINT},
        actual_amount = #{actualAmount,jdbcType=BIGINT},
        status = #{status,jdbcType=TINYINT},
        balance_change = #{balanceChange,jdbcType=BIGINT},
        create_by = #{createBy,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        remarks = #{remarks,jdbcType=VARCHAR},
        fld_s1 = #{fldS1,jdbcType=VARCHAR},
        fld_n1 = #{fldN1,jdbcType=BIGINT},
        fld_n2 = #{fldN2,jdbcType=INTEGER},
        fld_n3 = #{fldN3,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>