<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.bo.dao.AccountInfoDOMapper" >
  <resultMap id="BaseResultMap" type="com.zty.common.DO.AccountInfoDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="fld_n1" property="fldN1" jdbcType="INTEGER" />
    <result column="fld_n2" property="fldN2" jdbcType="INTEGER" />
    <result column="fld_l1" property="fldL1" jdbcType="BIGINT" />
    <result column="fld_s1" property="fldS1" jdbcType="VARCHAR" />
    <result column="fld_s2" property="fldS2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, account_type, name, phone, openid, password, disabled, create_by, create_time, 
    update_time, fld_n1, fld_n2, fld_l1, fld_s1, fld_s2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zty.common.DO.example.AccountInfoDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from account_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zty.common.DO.example.AccountInfoDOExample" >
    delete from account_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zty.common.DO.AccountInfoDO" >
    insert into account_info (id, account, account_type, 
      name, phone, openid, 
      password, disabled, create_by, 
      create_time, update_time, fld_n1, 
      fld_n2, fld_l1, fld_s1, 
      fld_s2)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{accountType,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{disabled,jdbcType=TINYINT}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{fldN1,jdbcType=INTEGER}, 
      #{fldN2,jdbcType=INTEGER}, #{fldL1,jdbcType=BIGINT}, #{fldS1,jdbcType=VARCHAR}, 
      #{fldS2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zty.common.DO.AccountInfoDO" >
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fldN1 != null" >
        fld_n1,
      </if>
      <if test="fldN2 != null" >
        fld_n2,
      </if>
      <if test="fldL1 != null" >
        fld_l1,
      </if>
      <if test="fldS1 != null" >
        fld_s1,
      </if>
      <if test="fldS2 != null" >
        fld_s2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fldN1 != null" >
        #{fldN1,jdbcType=INTEGER},
      </if>
      <if test="fldN2 != null" >
        #{fldN2,jdbcType=INTEGER},
      </if>
      <if test="fldL1 != null" >
        #{fldL1,jdbcType=BIGINT},
      </if>
      <if test="fldS1 != null" >
        #{fldS1,jdbcType=VARCHAR},
      </if>
      <if test="fldS2 != null" >
        #{fldS2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zty.common.DO.example.AccountInfoDOExample" resultType="java.lang.Integer" >
    select count(*) from account_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update account_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.accountType != null" >
        account_type = #{record.accountType,jdbcType=TINYINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null" >
        disabled = #{record.disabled,jdbcType=TINYINT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fldN1 != null" >
        fld_n1 = #{record.fldN1,jdbcType=INTEGER},
      </if>
      <if test="record.fldN2 != null" >
        fld_n2 = #{record.fldN2,jdbcType=INTEGER},
      </if>
      <if test="record.fldL1 != null" >
        fld_l1 = #{record.fldL1,jdbcType=BIGINT},
      </if>
      <if test="record.fldS1 != null" >
        fld_s1 = #{record.fldS1,jdbcType=VARCHAR},
      </if>
      <if test="record.fldS2 != null" >
        fld_s2 = #{record.fldS2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update account_info
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      account_type = #{record.accountType,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=TINYINT},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      fld_n1 = #{record.fldN1,jdbcType=INTEGER},
      fld_n2 = #{record.fldN2,jdbcType=INTEGER},
      fld_l1 = #{record.fldL1,jdbcType=BIGINT},
      fld_s1 = #{record.fldS1,jdbcType=VARCHAR},
      fld_s2 = #{record.fldS2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zty.common.DO.AccountInfoDO" >
    update account_info
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fldN1 != null" >
        fld_n1 = #{fldN1,jdbcType=INTEGER},
      </if>
      <if test="fldN2 != null" >
        fld_n2 = #{fldN2,jdbcType=INTEGER},
      </if>
      <if test="fldL1 != null" >
        fld_l1 = #{fldL1,jdbcType=BIGINT},
      </if>
      <if test="fldS1 != null" >
        fld_s1 = #{fldS1,jdbcType=VARCHAR},
      </if>
      <if test="fldS2 != null" >
        fld_s2 = #{fldS2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zty.common.DO.AccountInfoDO" >
    update account_info
    set account = #{account,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      fld_n1 = #{fldN1,jdbcType=INTEGER},
      fld_n2 = #{fldN2,jdbcType=INTEGER},
      fld_l1 = #{fldL1,jdbcType=BIGINT},
      fld_s1 = #{fldS1,jdbcType=VARCHAR},
      fld_s2 = #{fldS2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>