<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.bo.dao.ProductInfoDOMapper" >
  <resultMap id="BaseResultMap" type="com.zty.common.DO.ProductInfoDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="disabled" property="disabled" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="fld_n1" property="fldN1" jdbcType="INTEGER" />
    <result column="fld_n2" property="fldN2" jdbcType="INTEGER" />
    <result column="fld_l1" property="fldL1" jdbcType="BIGINT" />
    <result column="fld_s1" property="fldS1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, parent_id, name, description, sort_index, disabled, create_by, create_time, update_time, 
    fld_n1, fld_n2, fld_l1, fld_s1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zty.common.DO.example.ProductInfoDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from product_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zty.common.DO.example.ProductInfoDOExample" >
    delete from product_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zty.common.DO.ProductInfoDO" >
    insert into product_info (id, parent_id, name,
                              description, sort_index, disabled,
                              create_by, create_time, update_time,
                              fld_n1, fld_n2, fld_l1,
                              fld_s1)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR}, #{sortIndex,jdbcType=INTEGER}, #{disabled,jdbcType=TINYINT},
            #{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
            #{fldN1,jdbcType=INTEGER}, #{fldN2,jdbcType=INTEGER}, #{fldL1,jdbcType=BIGINT},
            #{fldS1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zty.common.DO.ProductInfoDO" >
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sortIndex != null" >
        sort_index,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fldN1 != null" >
        fld_n1,
      </if>
      <if test="fldN2 != null" >
        fld_n2,
      </if>
      <if test="fldL1 != null" >
        fld_l1,
      </if>
      <if test="fldS1 != null" >
        fld_s1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fldN1 != null" >
        #{fldN1,jdbcType=INTEGER},
      </if>
      <if test="fldN2 != null" >
        #{fldN2,jdbcType=INTEGER},
      </if>
      <if test="fldL1 != null" >
        #{fldL1,jdbcType=BIGINT},
      </if>
      <if test="fldS1 != null" >
        #{fldS1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zty.common.DO.example.ProductInfoDOExample" resultType="java.lang.Integer" >
    select count(*) from product_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null" >
        sort_index = #{record.sortIndex,jdbcType=INTEGER},
      </if>
      <if test="record.disabled != null" >
        disabled = #{record.disabled,jdbcType=TINYINT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fldN1 != null" >
        fld_n1 = #{record.fldN1,jdbcType=INTEGER},
      </if>
      <if test="record.fldN2 != null" >
        fld_n2 = #{record.fldN2,jdbcType=INTEGER},
      </if>
      <if test="record.fldL1 != null" >
        fld_l1 = #{record.fldL1,jdbcType=BIGINT},
      </if>
      <if test="record.fldS1 != null" >
        fld_s1 = #{record.fldS1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_info
    set id = #{record.id,jdbcType=INTEGER},
    parent_id = #{record.parentId,jdbcType=INTEGER},
    name = #{record.name,jdbcType=VARCHAR},
    description = #{record.description,jdbcType=VARCHAR},
    sort_index = #{record.sortIndex,jdbcType=INTEGER},
    disabled = #{record.disabled,jdbcType=TINYINT},
    create_by = #{record.createBy,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    fld_n1 = #{record.fldN1,jdbcType=INTEGER},
    fld_n2 = #{record.fldN2,jdbcType=INTEGER},
    fld_l1 = #{record.fldL1,jdbcType=BIGINT},
    fld_s1 = #{record.fldS1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zty.common.DO.ProductInfoDO" >
    update product_info
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        sort_index = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fldN1 != null" >
        fld_n1 = #{fldN1,jdbcType=INTEGER},
      </if>
      <if test="fldN2 != null" >
        fld_n2 = #{fldN2,jdbcType=INTEGER},
      </if>
      <if test="fldL1 != null" >
        fld_l1 = #{fldL1,jdbcType=BIGINT},
      </if>
      <if test="fldS1 != null" >
        fld_s1 = #{fldS1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zty.common.DO.ProductInfoDO" >
    update product_info
    set parent_id = #{parentId,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        sort_index = #{sortIndex,jdbcType=INTEGER},
        disabled = #{disabled,jdbcType=TINYINT},
        create_by = #{createBy,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        fld_n1 = #{fldN1,jdbcType=INTEGER},
        fld_n2 = #{fldN2,jdbcType=INTEGER},
        fld_l1 = #{fldL1,jdbcType=BIGINT},
        fld_s1 = #{fldS1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>